* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    flex-direction: column;
    font-family: Montserrat;
    background-color: black;
}

.controlPopup{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 30px;
    margin: 5px;
    background-color: orange;
    border-radius: 10%;
    border: none;
}
.timeContainer{
    font-size: 30px;
    color: #fff;
}